body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 1024px;
  background: rgba(50, 208, 189, 0.43);
  overflow: hidden;
}

.title {
  position: relative;
  width: 150px;
  top: 40px;
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.boxes {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-title {
  list-style: none;
  position: relative;
  width: 358px;
  height: 47px;
  top: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height */
  align-items: center;
  text-align: center;
  color: #000000;
}

.content-box {
text-align: center;
position: relative;
width: 358px;
height: 500px;
left: 5px;
top: 30px;

background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;

display: -webkit-flex;
display: flex;
flex-direction: column;
}

.contents {
  position: relative;
  width: 280px;
  height: 44px;
  margin: 0 auto;
}
